@font-face {
  font-family: "galactic";
  src:
   url(./edge-of-the-galaxy-font/EdgeOfTheGalaxyPoster-3zRAp.otf);
   font-weight: normal;
   font-style: normal;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.background_logo {
  height: 100%;
  width: 740px;
  background-size: 600px;
  position: relative;
}

img {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

fieldset {
  display: flex;
  flex-direction: row;
}

label,
input {
  display: block;
}

.logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(245,245,245,0.6);
  width: 100%;
  position: absolute;
  top: 200px;
}

.organization {
  font-family: galactic;
  color: #55555d;
  font-size: 80px;
  margin: 0px;
  margin-top: 18px;
}

.rocket {
  width: 120px;
  height: 120px;
  padding-bottom: 0px;
}

.content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 20px;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 200px;
  padding-top: 164px;
  background-image: linear-gradient(135deg,#03030e,#131727,#36013F,#78a3cc,black);
  color: azure;
}

.paragraph {
  margin-bottom: 0px;
}

.statement1 {
  margin-top: 0px;
}

h1 {
  color: #FF10F0;
  background-color: black;
  margin: 0px;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 30px;
}

label {
  font-size: 12px;
  font-weight: bold;
  color: #FF10F0;
  letter-spacing: 2px;
  margin-bottom: 8px;
  margin-top: 15px;
}

input {
  border-style: solid;
  border-radius: 5px;
  border-color: #CCCCFF;
  background-color: black;
  color: pink;
  font-size: 20px;
}

fieldset {
  border: none;
  background-color: black;
  margin: 0px;
  flex: 1;
}

.submit_container {
  background-image: linear-gradient(135deg, #05377b, #03214a, #010b19);
  box-shadow: 0px 5px 6px black inset;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-left: 50px;
  margin-top: 20px;
  padding: 10px 40px;
  background-color: #36013F;
  border-style: none;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: bold;
}

.submit_container p {
  margin-left: 50px;
  color: whitesmoke;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form {
  flex: 1;
}

input:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
}

#pwrdConfirm_message {
  color: red;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  padding: 10px;
  padding-left: 0px;
  font-weight: bold;
}

a:visited {
  font-family: 'Roboto', sans-serif;
  color: #FF10F0; 
}

a:link {
    font-family: 'Roboto', sans-serif;
  color: #FF10F0;
}