html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.background_logo {
  height: 100%;
  width: 600px;
  background-size: 600px;
}

.content {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

fieldset {
  display: flex;
  flex-direction: row;
}

label,
input {
  display: block;
}